$primary: #FC5739;
$secondary: #2B375F;
$light: #E2E1DA;
$dark: #1D1A23;
// $dark: #312935;

$headings-font-family: 'Comfortaa', cursive;
$input-btn-font-family: 'Spinnaker', sans-serif;
$font-family-sans-serif: 'Raleway', 'sans-serif';

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./custom/custom";
