.jumbotron {
    background-image: url("../../public/img/outdoor-cinema.jpg");
    background-size: cover;
}

.jumbotron-overlay {
    background-color: rgba(49,41,53, 0.5);
}

.jumbotron-text-container {
    margin: auto 0; 
}