// GENERAL
body {
    background-image: url("../../public/img/night-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body-overlay {
    background-color: scale-color($secondary, $alpha: -20%);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.btn {
    padding: 15px 30px;
    border-radius: 0;
    text-transform: uppercase;
}

.line {
    height: 100%;
    width: 100px;
    border-top: 2px solid $primary;
    display: inline-block;
    position: relative;
    right: 20px;
    bottom: 5px;
}

.line-center {
    display: block;
    margin: 15px auto 25px;
    position: inherit;
}

.height-fit-content {
    height: fit-content;
}

.anchor {
    position: relative;
    top: -97px;
}

.anchor#location {
    top: 10px;
}

.anchor#preregister {
    top: -220px;
}

@media only screen and (max-width: 991.98px) {
    .anchor {
        top: -337px;
    }
    .anchor#location {
        top: -130px;
    }
    .anchor#preregister {
        top: -475px;
    }
}

@media only screen and (max-width: 575.98px) {
    .anchor#location {
        top: 175px;
    }
}

// JUMBOTRON
.jumbotron {
    background-image: url("../../public/img/outdoor-cinema.jpg");
    background-size: cover;
}

.jumbotron-overlay {
    background-color: scale-color($dark, $alpha: -50%);
}

.jumbotron-text-container {
    max-width: 800px;
    h1 {
        font-size: 72px;
        margin-bottom: 50px;
    }
    p.jumbotron-subtitle {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767.98px) {
    .jumbotron-text-container {
        h1 {
            font-size: 60px;
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .jumbotron-text-container {
        h1 {
            font-size: 38px;
        }
        p.jumbotron-subtitle {
            font-size: 18px;
        }
        .jumbotron-text-info {
            display: block;
            p, button {
                font-size: 16px;
                margin: 25px 15px;
            }
        }
    }
}

.jumbotron-text-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    p, button {
        margin: 25px 0;
        font-size: 18px;
        text-transform: uppercase;
        padding: 25px;
        border: 1px solid $white;
    }
    button {
        padding: 25px 45px;
        border: none;
        margin-left: 10px;
    }
}

// NAVBAR
.navbar {
    .navbar-nav .nav-link {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
    .navbar-nav .nav-link.active {
        color: $primary;
    }
}

// ABOUT SECTION
.about-section {
    min-height: 500px;
    background-color: $light;
    color: $dark;
    align-items: center;
    .social-media-icons {
        font-size: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .about-text-container {
        width: 50% !important;
    }
}

.section-heading {
    color: $white;
    margin: 120px 0 50px;
}

.card {
    .row {
        padding: 80px 0;
        margin: 0px auto;
        max-width: 840px;
    }
}

.movie-poster {
    max-height: 350px;
    max-width: 100%;
}

.latest-news-section {
    background: url("../../public/img/film_strip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .latest-news-overlay {
        background-color: scale-color($dark, $alpha: -10%);
        padding-bottom: 265px !important;
    }
}

.location-section {
    top: -230px;
    .location-row {
        min-height: 950px;
    }
    .location-text-container {
        margin-top: 200px;
    }
    .bpg-img {
        background-image: url("../../public/img/boston_public_garden.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    .line {
        right: 0px;
    }
    .google-maps {
        width: 100%;
        max-width: 500px;
    }
}

.numbers-container {
    max-width: 960px;
    min-height: 230px;
    z-index: 1000;
    top: -115px;
}

@media only screen and (max-width: 768px) {
    .numbers-container {
        .border-right {
            border-right: none !important;
        }
    }
}

.registration-section {
    position: relative;
    top: -100px;
    .form-underlay {
        height: calc(100% - 48px);
        width: calc(100% - 30px);
        background-color: white;
        position: absolute;
        z-index: -5;
        bottom: -10px;
        right: -20px;
    }
    button {
        min-width: 150px;
    }
}

footer  {
    p {
        margin-bottom: 0;
    }
}